SECRET_KEY='your-secret-key-here'
DEBUG=True

# Celery Configuration
CELERY_BROKER_URL = 'your_celery_broker_url'  # Using Redis as broker
CELERY_RESULT_BACKEND = 'your_celery_result_backend_url'
CELERY_ACCEPT_CONTENT = 'your_accept_content'
CELERY_TASK_SERIALIZER = 'your_task_serializer'
CELERY_RESULT_SERIALIZER = 'your_result_serializer'
CELERY_TIMEZONE = 'your_timezone'  # your timezone
CELERY_ENABLE_UTC = False
PROCESS_SCHEDULED_MESSAGES_INTERVAL = 'your_process_scheduled'  # Default to 5 minutes
CLEANUP_OLD_LOGS_INTERVAL = 'your_cleanup'  # Default to daily